* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Verdana, sans-serif;
    color: #ccc;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    background-color: #151515;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#content-placer {
    max-width: 100vw;
    min-height: 80vh;
    padding: 1.2rem;
    outline: none;
}

pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.title-bar {
    background-color: #bbe;
    color: black;
    height: 2rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.title-bar>* {
    -webkit-app-region: no-drag;
    color: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    border: none;
    background: none;

    padding: .2rem;
    margin: .4rem;
}

.boldButton {
    font-weight: bold;
}

.nonBoldButton {
    font-weight: normal;
}