:root {
    --color-white: #ccf;
    --color-black: #151515;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Verdana, sans-serif;
    color: var(--color-white);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    background-color: var(--color-black);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#content-placer {
    max-width: min(100vw, 30rem);
    margin: 0 auto;
    min-height: 80vh;
    padding: 1.2rem;
    outline: none;
}

pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.title-bar {
    background-color: var(--color-white);
    color: black;
    height: 2rem; width: 100vw;
    display: flex;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.title-bar>* {
    font-family: 'Consolas';
    -webkit-app-region: no-drag;
    color: inherit;
}

button {
    font-family: 'Consolas';
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;

    padding: .2rem;
    margin: .4rem;
}

#button-switchMode {
    padding: .2rem;
    border: 1px solid;
    border-radius: .2rem;
}

#button-close {
    padding: .25rem;
    margin-left: auto;
}

#button-newPage {
    display: flex; align-items: center; justify-content: center;
    width: 2rem; height: 2rem;
    right: .3rem; bottom: 0;
    font-size: 1.4rem;
    position: fixed;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;
    
    margin: 1.2rem;
    margin-bottom: -2.1rem;

    opacity: 0;
    transition: .2s;
}

body:hover > #button-newPage {
    margin-bottom: 1.2rem;
    opacity: 1;
    transition: .1s;
}