* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Verdana, sans-serif;
    color: ghostwhite;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    width: 100vw;
}

p {
    margin: 1rem 0;
    padding: 0 1rem;
    width: 100%;
    max-width: 36rem;

    overflow-wrap: break-word;
}

.title-bar {    
    background-color: aliceblue;
    /*border-radius: .6rem .6rem 0 0;*/
    height: 2rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.title-bar > * {
    -webkit-app-region: no-drag;
}

button {
    cursor: pointer;
    color: black;
    border: none;
    background: none;

    padding: .2rem;
    margin: .2rem;
}